fastapi
uvicorn[standard]
paramiko
netmiko
pydantic
apscheduler
telnetlib3
python-dotenv
pyyaml
gitpython
pandas
openpyxl
python-multipart
cryptography
scrapli[asyncssh]
scrapli_community
asyncssh
requests